<h2 class="h-editbook">Edit Books</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="post">
    <%- include('_form_fields') %>
        <div class="savebtn-div">
            <a href="/Books" class="cancel-btn">Discard</a>
            <button class="sub-btn" type="submit">Upadate</button>
        </div>
</form>

<script src="/javascripts/book/newbook.js"></script>