<h2>Add Books</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="post">
    <%- include('_form_fields') %>
        <a href="/Books">Cancel</a>
        <button type="submit">Upadate</button>
</form>