<h2 class="h-addbook">Add Books</h2>
<form action="/Books" method="post">
    <%- include('_form_fields') %>
        <div class="savebtn-div">
            <a href="/Books" class="cancel-btn">Cancel</a>
            <button class="sub-btn" type="submit">Create</button>
        </div>
</form>
<script src="/javascripts/book/newbook.js"></script>