<h2>Add Books</h2>
<form action="/Books" method="post">
    <%- include('_form_fields') %>
        <a href="/Books" class="cancel-btn">Cancel</a>
        <button class="sub-btn" type="submit">Create</button>
</form>