<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNesto</title>
    <meta name="title" content="BookNesto – Discover, Read & Books review">
    <meta name="description"
        content="BookNesto is a full-stack web application to manage and explore books. Add authors, upload covers, and organize your collection with ease.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://booknesto.onrender.com/">
    <meta property="og:title" content="BookNesto – Discover, Read & Share Books">
    <meta property="og:description"
        content="Explore a curated library of books, manage authors, and build your personal collection with BookNesto.">
    <meta property="og:image" content="https://booknesto.onrender.com/path-to-preview-image.jpg">

    <link rel="canonical" href="https://booknesto.onrender.com/">

    <meta name="creator" content="Muhammed Niyad">
    <!-- CSS -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/Booknesto/main.css">
    <!-- JS -->
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <script defer src="/javascripts/main.js"></script>

</head>

<body class="body system-mode">
    <%- include('../partials/header.ejs') %>
        <div class="switchdiv">
            <input type="checkbox" name="" id="switchinput">
            <label id="switch" for="switchinput"></label>
        </div>
        <%- include('../partials/errorMessage.ejs') %>
            <%- body %>

</body>

</html>