.bookForm
    display: flex
    width: 1000px
    margin: auto
    box-shadow: 1px 1px 10px 0px #acacac
    border-radius: 25px
    justify-content: flex-end
    align-items: center
.txt-field
    width: 100%
    div
        display: flex
        flex-direction: column
        padding: 5px 50px
        input,select
            border: 1px solid #606060
            border-radius: 20px
            font-size: larger
            padding: 5px
            color: #000000
        label
            padding-left: 15px
            font-weight: bold
            font-size: large
        textarea
            height: 100px
.filepond--root
    height: 510px !important
    width: 350px
    margin-bottom: 0
.filepond--panel-root
    background-color: #712cf9
    border-radius: 25px
.filepond--drop-label
    color: #fff
    cursor: pointer
.filepond--item-panel
    background-color: #00000000
.filepond--item
    height: 360px
.savebtn-div
    text-align: center
    padding: 7px
    font-size: larger
.h-addbook,.h-editbook
    text-align: center
    margin: 5px
