.txt-c
    text-align: center
.input-none
    all: unset
.search-title
    padding: 0 5px
    border: 1px solid #acacac
    border-radius: 20px
    width: 400px
    display: flex
    align-items: center
    justify-content: flex-start
    font-size: 1.5rem
    margin: auto
    label,input
        padding: 5px
    input
        width: 100%
.d-flex
    display: flex
    align-items: center
    flex-direction: row
.date-input
    display: flex
    flex-direction: column
    font-size: larger
    font-weight: 600
    width: 50%
    padding: 8px
    input
        border: 1px solid #acacac
        border-radius: 20px
        font-size: larger
        padding: 5px
        color: #777777
        &:focus
            color: #383838
.d-warp
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    div
        padding: 10px 20px
