.star-rating
    direction: rtl
    unicode-bidi: bidi-override
    font-size: 2rem

.star-rating input[type="radio"]
    display: none

.star-rating label
    color: #b8b5b5
    cursor: pointer

.star-rating input[type="radio"]:checked~label
    color: gold

.star-rating label:hover,
.star-rating label:hover~label
    color: orange
.bookShow
    display: flex
    width: 1000px
    margin: auto
    box-shadow: 1px 1px 10px 0px #000000
    border-radius: 25px
    flex-direction: row-reverse
    align-items: center
    margin-top: 25px
    justify-content: space-between
    div.pic-sec
        width: 350px
        border-radius: 25px
        display: flex
        flex-direction: column
        align-items: center
        color: #fff
.pic-sec-light
    background-color: #712cf9
.pic-sec-dark
    background-color: #3c3c3c

.div-pic
    padding: 15px 15px 5px
.title-pic
    font-size: 2.5rem
    font-weight: bold
.show-rates
    color: gold
    font-weight: bold
.show-rates-blck
    font-weight: 600
    color: #606060
.rating-form
    text-align: center
    font-size: larger
    padding-bottom: 7px
.detailsOfBook
    display: flex
    margin: auto
    padding: 10px
    font-family: system-ui
    font-size: 1.5rem
    flex-direction: column
    align-items: flex-start

.all-btn
    display: flex
    padding: 10px
    flex-wrap: wrap
.author-veiw
    display: flex
    flex-wrap: wrap
    align-items: center
    margin: auto
    box-shadow: inset 0px 0px 10px 0px #000
    align-content: stretch
    justify-content: space-between
    padding: 5px 20px
    font-size: x-large
    h2
        margin: 10px

@media  ( max-width: 1050px  )
    .bookShow
        width: 90%
@media  ( max-width: 800px  )
    .bookShow
        flex-direction: column
        width: min-content
        padding: 10px
