.slider::-webkit-scrollbar
    display: none

.slider
    width: 100%
    height: 370px
    overflow-x: auto
    display: flex
    align-items: center
    justify-content: flex-start
    align-items: center
    -webkit-overflow-scrolling: touch
    .item
        padding: 10px 20px
        transition: 0.2s
        &:hover
            scale: 1.1
.img-slide
    width: 177px
    height: 284px
h2
    margin-bottom: 2px
@media  ( max-width:420px  )
    .slider
        height: 300px
    .img-slide
        width: 141px
        height: 227px
