.navbar
    background-color: #f0f0f0
    padding: 1rem 1rem 0
    display: flex
    justify-content: space-between
    font-family: fantasy
    align-items: center
    li
        font-size: 2rem
        padding: 0 10px
        transition: 0.2s
        &:hover
            font-size: 2.3rem
.fs-3rem
    font-size: 3rem
