@import 'shared/stylesheet.css';
a, li, ul, button {
  all: unset;
  cursor: pointer;
}

.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  background-color: #f0f0f0;
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  font-family: fantasy;
  align-items: center;
}
.navbar li {
  font-size: 2rem;
  padding: 0 10px;
  transition: 0.2s;
}
.navbar li:hover {
  font-size: 2.3rem;
}

.fs-3rem {
  font-size: 3rem;
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.sideBar li {
  width: 100%;
}
.sideBar li:not(:has(a)) {
  padding: 10px;
  width: 100%;
}
.sideBar li a {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
}

@media (min-width: 801px) {
  .menu {
    display: none;
  }
}
@media (max-width: 800px) {
  .hideon800 {
    display: none;
  }
}
button {
  font-weight: 600;
}

.del-btn {
  margin: 5px;
  padding: 5px 10px;
  color: red;
  border: 2px solid red;
  border-radius: 8px;
}
.del-btn:hover {
  background-color: red;
  color: #fff;
}

.sub-btn {
  margin: 5px;
  padding: 5px 10px;
  color: #fff;
  border: 2px solid #0d6efd;
  background-color: #0d6efd;
  border-radius: 8px;
}
.sub-btn:hover {
  color: #fff;
  background-color: #0a58ca;
}

.green-btn {
  margin: 5px;
  padding: 5px 10px;
  color: #fff;
  border: 2px solid #3dfd0d;
  background-color: #3dfd0d;
  border-radius: 8px;
}
.green-btn:hover {
  color: #fff;
  background-color: #0aca34;
}

.cancel-btn {
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #acacac;
  border-radius: 8px;
}
.cancel-btn:hover {
  color: #fff;
  background-color: #7e7b7b;
}

.edit-btn {
  margin: 5px;
  padding: 5px 10px;
  color: #fff;
  border: 2px solid #712cf9;
  border-radius: 8px;
  background-color: #712cf9;
}
.edit-btn:hover {
  background-color: #5f05b4;
}

.slider::-webkit-scrorllbar {
  width: 0;
}

.slider {
  width: 100%;
  height: 370px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
}
.slider .item {
  padding: 10px 20px;
  transition: 0.2s;
}
.slider .item:hover {
  scale: 1.1;
}

.img-slide {
  width: 177px;
  height: 284px;
}

h2 {
  margin-bottom: 2px;
}

@media (max-width: 420px) {
  .slider {
    height: 250px;
  }
  .img-slide {
    width: 120px;
    height: 190px;
  }
}
.txt-c {
  text-align: center;
}

.input-none {
  all: unset;
}

.search-title {
  padding: 0 5px;
  border: 1px solid #acacac;
  border-radius: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin: auto;
}
.search-title label, .search-title input {
  padding: 5px;
}
.search-title input {
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.date-input {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 600;
  width: 50%;
  padding: 8px;
}
.date-input input {
  border: 1px solid #acacac;
  border-radius: 20px;
  font-size: larger;
  padding: 5px;
  background-color: transparent;
  color: #7f7f7f;
}
.date-input input:focus {
  color: #383838;
}

.d-warp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.d-warp div {
  padding: 10px 20px;
}

.div-S-btn {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}

@media (max-width: 450px) {
  .search-title {
    width: 80%;
  }
}
.bookForm {
  display: flex;
  width: 1000px;
  margin: auto;
  border-radius: 25px;
  justify-content: flex-end;
  align-items: center;
  min-width: 350px;
}

.bookForm-light {
  box-shadow: 1px 1px 10px 0px #acacac;
}

.bookForm-dark {
  box-shadow: 1px 1px 10px 0px #000;
}

.txt-field-dark > div > input,
.txt-field-dark > div > select,
.txt-field-dark > div > textarea {
  background-color: #3c3c3c;
  color: #fff;
}
.txt-field-dark > div > input:focus,
.txt-field-dark > div > select:focus,
.txt-field-dark > div > textarea:focus {
  background-color: #fcfcfc;
  color: #000;
}

.txt-field {
  width: 100%;
}
.txt-field div {
  display: flex;
  flex-direction: column;
  padding: 5px 50px;
}
.txt-field div input, .txt-field div select {
  font-weight: 600;
  border: 1px solid #606060;
  border-radius: 20px;
  font-size: larger;
  padding: 5px;
}
.txt-field div label {
  padding-left: 15px;
  font-weight: bold;
  font-size: larger;
}
.txt-field div textarea {
  height: 100px;
}

.filepond--root {
  height: 510px !important;
  width: 350px;
  margin-bottom: 0;
}

.filepond--panel-root {
  border-radius: 25px;
}

.fbg-violet {
  background-color: #712cf9;
}

.fbg-grey {
  background-color: #3c3c3c;
}

.filepond--drop-label {
  color: #fff;
  cursor: pointer;
}

.filepond--item-panel {
  background-color: rgba(0, 0, 0, 0);
}

.filepond--item {
  height: 360px;
}

.savebtn-div {
  text-align: center;
  padding: 7px;
  font-size: larger;
}

.h-addbook, .h-editbook {
  text-align: center;
  margin: 5px;
}

@media (max-width: 1050px) {
  .bookForm {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .bookForm {
    flex-direction: column;
    padding-top: 15px;
  }
}
@media (max-width: 500px) {
  .txt-field > div {
    padding: 5px 25px;
  }
  .txt-field > div input, .txt-field > div select, .txt-field > div label {
    font-size: medium;
  }
}
.h-author {
  padding-left: 40px;
}

.search-author {
  padding: 0 5px;
  border: 1px solid #acacac;
  border-radius: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin: 10px 40px 15px;
}
.search-author:focus-within {
  border-color: #000;
}
.search-author input {
  all: unset;
  padding: 5px;
  width: 100%;
}
.search-author button {
  width: 26px;
  height: 26px;
}
.search-author button svg {
  color: #757575;
}

.list-card {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 10px 0px #acacac;
  border-radius: 25px;
  overflow: hidden;
}
.list-card li {
  display: flex;
  border-bottom: 1px solid #acacac;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
  font-weight: bold;
}

div .author-btns {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
}

.notfound {
  text-align: center;
  width: 80%;
  margin: auto;
  box-shadow: 1px 1px 10px 0px #acacac;
  border-radius: 25px;
  padding: 10px 15px;
  font-weight: bold;
  color: #3d3d3d;
}

.star-rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 2rem;
}

.star-rating input[type=radio] {
  display: none;
}

.star-rating label {
  color: #b8b5b5;
  cursor: pointer;
}

.star-rating input[type=radio]:checked ~ label {
  color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: orange;
}

.bookShow {
  display: flex;
  width: 1000px;
  margin: auto;
  box-shadow: 1px 1px 10px 0px #000000;
  border-radius: 25px;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
}
.bookShow div.pic-sec {
  width: 350px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.pic-sec-light {
  background-color: #712cf9;
}

.pic-sec-dark {
  background-color: #3c3c3c;
}

.div-pic {
  padding: 15px 15px 5px;
}

.title-pic {
  font-size: 2.5rem;
  font-weight: bold;
}

.show-rates {
  color: gold;
  font-weight: bold;
}

.show-rates-blck {
  font-weight: 600;
  color: #2d2d2d;
}

.rating-form {
  text-align: center;
  font-size: larger;
  padding-bottom: 7px;
}

.detailsOfBook {
  display: flex;
  margin: auto;
  padding: 10px;
  font-family: system-ui;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.all-btn {
  display: flex;
  padding: 10px;
}

.author-veiw {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  box-shadow: inset 0px 0px 10px 0px #000;
  align-content: stretch;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: x-large;
}
.author-veiw h2 {
  margin: 10px;
}

#switch {
  width: 40px;
  height: 21px;
  margin: 10px 1px;
  position: relative;
  display: block;
  background-color: #ebebeb;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}
#switch::after {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 3px;
  background: rgb(255, 204, 137);
  background: radial-gradient(circle, rgb(245, 175, 82) 12%, rgb(255, 153, 0) 100%);
  transition: 0.3s;
}

.switchdiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

#switchinput {
  width: 0;
  height: 0;
  visibility: hidden;
}
#switchinput:checked + #switch {
  background: #242424;
}
#switchinput:checked + #switch::after {
  left: 21px;
  background: radial-gradient(circle, #cecdcd 12%, #7c7c7c 100%);
}

.dark-mode {
  background-color: #282828;
  color: #fff;
}

.dark-nav {
  background-color: #1f2020;
}

@media (prefers-color-scheme: dark) {
  .system-mode {
    background-color: #282828;
    color: #fff;
  }
  .system-navbar {
    background-color: #1f2020;
  }
}/*# sourceMappingURL=main.css.map */